<form [formGroup]="form" (ngSubmit)="saveEmployee($event)" >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Empleado</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="firstName" matInput type="text" placeholder="Primer Nombre">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="secondName" matInput type="text" placeholder="Segundo Nombre">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="lastName" matInput type="text" placeholder="Apellido Paterno">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="motherLastName" matInput type="text" placeholder="Apellido Materno">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select formControlName="roleId" >
              <mat-option  [value]="1">Admin</mat-option>
              <mat-option [value]="2">Empleado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="nick" matInput type="text" placeholder="user">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="password" matInput type="password" placeholder="contraseña">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid"  mat-raised-button type="submit" color="primary">Actualizar</button>
    </mat-card-actions>
  </mat-card>
</form>
<s></s>
