<button mat-raised-button routerLink="create"> Nueva Llanta</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Marca</th>
    <td mat-cell *matCellDef="let element"> {{ element.brand }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="hoop">
    <th mat-header-cell *matHeaderCellDef> Aro</th>
    <td mat-cell *matCellDef="let element"> {{element.hoop }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="prize">
    <th mat-header-cell *matHeaderCellDef> Precio</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} Bs</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="amountAvailable">
    <th mat-header-cell *matHeaderCellDef> Cantidad</th>
    <td mat-cell *matCellDef="let element"> {{element.amountAvailable}} </td>
  </ng-container>

  <!-- Acctions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-warning float-left" routerLink="edit/{{element.id}}">
        Editar
      </button>
      <button class="btn btn-danger" (click)="onDelete(element.id)">
        Eliminar
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
